.l-selector {
    $center-button-width: 130px;
    $edge-button-width: 90px;
    $side-button-width: 120px;
    $selection-width: 164px;
    $selection-height: 120px;

    height: $selector-height;
    position: relative;

    button {
        position: absolute;

        &#button-legend-left,
        &#button-legend-right,
        &#button-ghostbox {
            width: $edge-button-width;
        }

        &#button-legend-left,
        &#button-legend-right {
            top: 50%;
            margin-top: $button-height * -0.5;
        }

        &#button-legend-left {
            left: $base-gap;
        }

        &#button-legend-right {
            right: $base-gap;
        }

        &#button-ghostbox {
            right: $base-gap;
            bottom: $base-gap;
        }

        &#button-redline-h-top,
        &#button-redline-v-top,
        &#button-redline-v-bot,
        &#button-redline-h-bot {
            left: 50%;
            width: $center-button-width;
            margin-left: $center-button-width * -0.5;
        }

        &#button-redline-h-top {
            top: $base-gap;
        }

        &#button-redline-v-top {
            top: $base-gap + $button-height + $base-gap;
        }

        &#button-redline-v-bot {
            bottom: $base-gap + $button-height + $base-gap;
        }

        &#button-redline-h-bot {
            bottom: $base-gap;
        }

        &#button-redline-h-left,
        &#button-redline-v-left,
        &#button-redline-h-right,
        &#button-redline-v-right {
            width: $side-button-width;
            top: 50%;
        }

        &#button-redline-h-left,
        &#button-redline-v-left {
            left: $base-gap + $edge-button-width + $base-gap;
        }

        &#button-redline-h-right,
        &#button-redline-v-right {
            right: $base-gap + $edge-button-width + $base-gap;
        }

        &#button-redline-h-left,
        &#button-redline-h-right {
            margin-top: $base_gap * -0.5 - $button-height;
        }

        &#button-redline-v-left,
        &#button-redline-v-right {
            margin-top: $base_gap * 0.5;
        }
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: $selection-width * -0.5;
        margin-top: $selection-height * -0.5;

        &.pad {
            padding-top: 20px;
        }

        &#helper-legend-left {
            margin-left: $selection-width * -0.5 - 45px;
        }

        &#helper-legend-right {
            margin-left: $selection-width * 0.5 - 15px;
        }

        &#helper-redline-h-left,
        &#helper-redline-h-right {
            padding-top: 52px;
        }

        &#helper-redline-h-top {
            padding-top: 38px;
        }

        &#helper-redline-h-bot {
            padding-top: 55px;
        }

        &#helper-redline-v-top {
            padding-top: 3px;
        }

        &#helper-redline-h-left {
            margin-left: $selection-width * -0.5 - 11px;
        }

        &#helper-redline-h-right,
        &#helper-redline-h-top,
        &#helper-redline-h-bot {
            margin-left: $selection-width * -0.5 + 20px;
        }

        &#helper-redline-v-top,
        &#helper-redline-v-bot {
            padding-left: 67px;
        }

        &#helper-redline-v-right {
            padding-left: 78px;
        }

        &#helper-redline-v-left {
            padding-left: 47px;
        }

        &.is-legend,
        &.is-redline,
        &.is-ghostbox {
            display: none;
        }

        &.is-visible {
            display: block;
        }
    }
}
