.l-window-header {
    @include clearfix;

    background: $window-header-bg-color;

    img {
        $gap: ($base-gap - 7px);

        margin: $gap 0 $gap $gap;
        float: left;
    }

    h1 {
        margin: 0;
        float: left;
        line-height: 62px;
    }
}
