.l-window-header {
    @include clearfix;

    background: $window-header-bg-color;
    height: $window-header-height;

    img {
        $gap: ($base-gap - 6px);

        margin: $gap 0 $gap $gap;
        float: left;
    }

    article {
        height: $window-header-height;
        margin: 0 $base-gap 0 (45px + $base-gap);
        padding: $base-gap 0 0;

        h1 {
            margin-left: -1px; // fix the horizontal alignment with negative offset
            margin-bottom: 10px;
        }

        p {
            margin: 0;
        }
    }
}
