.l-window-header {
    @include clearfix;

    background: $window-header-bg-color;
    height: $window-header-height;

    img {
        $gap: ($base-gap - 6px);

        margin: $gap 0 $gap $gap;
        float: left;
    }

    h1 {
        margin: 0;
        float: left;
        line-height: $window-header-height - 2px !important;
    }
}
