@mixin font-body() {
    @include font-ui-pos('small','normal');
}


@mixin font-hed() {
    @include font-body;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}


@mixin font-small() {
    @include font-body;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}
