$base-gap: 16px;
$window-header-height: 64px;
$window-footer-height: 30px;

$bg-color: white;
$text-color: #333;
$text-secondary-color: #777;
$link-color: green;
$link-dim-color: purple;

$sep-color: #e5e5e5;

$window-header-bg-color: #bg-color;
$window-footer-bg-color: #bg-color;
